@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@300;400;500;600&display=swap');





@font-face {
  font-family: 'Geist Sans';
  src: url('./fonts/GeistVF.woff2') format('woff2'),
        url('./fonts/GeistVF.woff') format('woff');
  font-weight: 300 400 500 600 700;
  font-style: normal;

}

::-webkit-scrollbar  {
  background: hsl(240 10% 3.9%);
  width: 8px;
}

::-webkit-scrollbar-track  {
  background:  hsl(240 10% 3.9%); /* Background color of the scrollbar track */
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb  {
  background-color: hsl(240 3.7% 15.9%);    /* Background color of the scrollbar thumb */
  border-radius: 8px;        /* Roundness of the thumb */ /* Space around the thumb */
}




/* 240 3.7% 15.9% */





::selection {
  background: rgb(75, 2, 219);
}

.text-gradient {
  background: linear-gradient(76deg, rgb(63, 89, 228) 0%, rgb(76, 183, 163) 100%) text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* --webkit-text-fill-color: transparent; */
}

/*  make a class text-gradient-color and style a text as gradient */
.text-gradient-color {
  background: linear-gradient(76deg, rgb(63, 89, 228) 0%, rgb(76, 183, 163) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.has-GradientBorder::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -1px;
  pointer-events: none;
  content: "";
  border: 1.5px solid rgba(255, 255, 255, .12);
  border-radius: inherit;
  -webkit-mask-image: linear-gradient(135deg, #fff 0%, transparent 50%);
  mask-image: linear-gradient(135deg, #fff 0%, transparent 50%);
}

/* testimonals */

body{
	background-color: #fff;
  font-family: 'Geist Sans', sans-serif;
}

.geist-sans {
  font-family: 'Geist Sans', Arial, Helvetica, sans-serif;
}

.container{
	background-color: #fff;
	width: auto; 
}
.card{
	width: 250px;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	border-radius: 8px;
}
.maintxt{
	color: #1f1f1f;
	font-weight: 500;
	font-size: 14.5px;
}
.name{
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
.para{
	color: #8c8c8c;
	font-size: 12px;
	position: relative;
	bottom: 3px;
}

body{
  background-color: #0d1117 !important;
}